#artical{
	width: auto;
	min-height: 800px;
	border: 2px solid #ccc;
	font-size:12px;
	position: relative;
}
#artical h2{
	text-indent: 0;
	text-align: center;
}
#artical img.hot{
	position: absolute;
	left: 738px;
    top: -32px;
}
#artical img.nice{
	position: absolute;
	left: 624px;
    top: -32px;
}
#artical #subject dl{
	width: 230px;
	float: left;
	padding: 0 10px 0 35px;
}
#artical #subject dl dt{
	width: 230px;
	margin: 0 0 5px 0;
}
#artical #subject dl dt img{
	margin: 0 auto;
	display: block;
}
#artical #subject dl dd{
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 115px;
	float: left;
}
#artical #subject dl dd.user{
	width: 230px;
	float: none;
	color: #f60;
}
#artical #subject dl dd.message{
	background: url(../../images/x1.gif) no-repeat 15px center;
}
#artical #subject dl dd.message a{
	color: #333;
	text-decoration: none;
}
#artical #subject dl dd.message a:hover{
	text-decoration: underline;
	color: #f00;
	cursor: pointer;
}
#artical #subject dl dd.friend{
	background: url(../../images/x2.gif) no-repeat 10px center;
}
#artical #subject dl dd.friend a{
	color: #333;
	text-decoration: none;
}
#artical #subject dl dd.friend a:hover{
	text-decoration: underline;
	color: #f00;
	cursor: pointer;
}
#artical #subject dl dd.guest{
	background: url(../../images/x3.gif) no-repeat 15px center;
}
#artical #subject dl dd.flower{
	background: url(../../images/flower.png) no-repeat 10px center;
}
#artical #subject dl dd.flower a{
	color: #333;
	text-decoration: none;
}
#artical #subject dl dd.flower a:hover{
	text-decoration: underline;
	color: #f00;
	cursor: pointer;
}
#artical #subject dl dd.email,#artical #subject dl dd.url{
	width: 340px;
	text-align: left;
	padding-top: 2px;
	text-indent: 15px;
}
#artical #subject dl dd.email a{
	color: #333;
	text-decoration: none;
}
#artical #subject dl dd.email a:hover{
	text-decoration: underline;
	color: #f00;
	cursor: pointer;
}
#artical #subject dl dd.url a{
	color: #333;
	text-decoration: none;
}
#artical #subject dl dd.url a:hover{
	text-decoration: underline;
	color: #f00;
	cursor: pointer;
}
#artical #subject div.content{
	float: left;
	width: 660px;
	padding: 5px 20px 0 0;
}
#artical #subject div.content .user{
	height: 30px;
	line-height: 30px;
	background: url(../../images/user.png) no-repeat left center;
	border-bottom: 1px dashed #999;
	color: #666;
}
#artical #subject div.content .user span{
	float: right;
}
#artical #subject div.content .user span a{
	color: #333;
	text-decoration: none;
}
#artical #subject div.content .user span a:hover{
	color: #f00;
	text-decoration: underline;
}
#artical #subject div.content .user p{
	padding-left: 20px;
}
#artical #subject div.content .user p a{
	color: #333;
	text-decoration: none;
}
#artical #subject div.content .user p a:hover{
	color: #f00;
	text-decoration: underline;
}
#artical #subject div.content h3{
	background: url(../../images/theme.png) no-repeat left center;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
}
#artical #subject div.content h3 i{
	font-style: normal;
	margin-left: 15px;
	padding-left: 5px;
}
#artical #subject div.content h3 img{
	padding: 10px 0 0 5px;
}
#artical #subject div.content h3 span{
	font-size: 12px;
	font-style: normal;
	color: #06f;
}
#artical #subject div.content h3 span a{
	text-decoration: none;
	color: #06f;
}
#artical #subject div.content h3 span a:hover{
	text-decoration: underline;
	color: #f60;
}
#artical #subject div.content .detail{
	line-height: 100%;
	font-size: 14px;
}
#artical #subject div.content .detail a{
	text-decoration: none;
	color: #333;
}
#artical #subject div.content .detail a:hover{
	text-decoration: underline;
	color: #f60;
}
#artical #subject div.content .detail p.autograph{
	color: #666;
	border-top: 1px dashed #666;
	margin: 5px 0;
	width: 100%; 
	padding-top: 10px;
}
#artical #subject div.content .read{
	font-size: 14px;
	color: #666;
}
#artical p.line{
	width: 95%;
	margin: 0 auto;
	clear: both;
	height: 10px;
	border-bottom: 1px dashed #333;
}
#artical .re dl{
	width: 230px;
	float: left;
	padding: 0 10px 0 35px;
}
#artical .re dl dt{
	width: 230px;
	margin: 0 0 5px 0;
}
#artical .re dl dt img{
	margin: 0 auto;
	display: block;
}
#artical .re dl dd{
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 115px;
	float: left;
}
#artical .re dl dd.user{
	width: 230px;
	float: none;
	color: #f60;
}
#artical .re dl dd.message{
	background: url(../../images/x1.gif) no-repeat 15px center;
}
#artical .re dl dd.message a{
	color: #333;
	text-decoration: none;
}
#artical .re dl dd.message a:hover{
	text-decoration: underline;
	color: #f00;
	cursor: pointer;
}
#artical .re dl dd.friend{
	background: url(../../images/x2.gif) no-repeat 10px center;
}
#artical .re dl dd.friend a{
	color: #333;
	text-decoration: none;
}
#artical .re dl dd.friend a:hover{
	text-decoration: underline;
	color: #f00;
	cursor: pointer;
}
#artical .re dl dd.guest{
	background: url(../../images/x3.gif) no-repeat 15px center;
}
#artical .re dl dd.flower{
	background: url(../../images/flower.png) no-repeat 10px center;
}
#artical .re dl dd.flower a{
	color: #333;
	text-decoration: none;
}
#artical .re dl dd.flower a:hover{
	text-decoration: underline;
	color: #f00;
	cursor: pointer;
}
#artical .re dl dd.email,#artical .re dl dd.url{
	width: 340px;
	text-align: left;
	padding-top: 2px;
	text-indent: 15px;
}
#artical .re dl dd.email a{
	color: #333;
	text-decoration: none;
}
#artical .re dl dd.email a:hover{
	text-decoration: underline;
	color: #f00;
	cursor: pointer;
}
#artical .re dl dd.url a{
	color: #333;
	text-decoration: none;
}
#artical .re dl dd.url a:hover{
	text-decoration: underline;
	color: #f00;
	cursor: pointer;
}
#artical .re div.content{
	float: left;
	width: 660px;
	padding: 5px 20px 0 0;
}
#artical .re div.content .user{
	height: 30px;
	line-height: 30px;
	background: url(../../images/user.png) no-repeat left center;
	border-bottom: 1px dashed #999;
	color: #666;
}
#artical .re div.content .user span{
	float: right;
	color: #06f;
}
#artical .re div.content .user p{
	padding-left: 20px;
}
#artical .re div.content h3{
	background: url(../../images/answer.png) no-repeat left center;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
}
#artical .re div.content h3 i{
	font-style: normal;
	margin-left: 15px;
	padding-left: 5px;
}
#artical .re div.content h3 img{
	padding: 10px 0 0 5px;
}
#artical .re div.content h3 span{
	font-size: 12px;
	font-style: normal;
	color: #06f;
}
#artical .re div.content h3 span a{
	text-decoration: none;
	color: #06f;
}
#artical .re div.content h3 span a:hover{
	text-decoration: underline;
	color: #f60;
}
#artical .re div.content .detail{
	line-height: 100%;
	font-size: 14px;
}
#artical .re div.content .detail a{
	text-decoration: none;
	color: #333;
}
#artical .re div.content .detail a:hover{
	text-decoration: underline;
	color: #f60;
}
#artical .re div.content .detail p.autograph{
	color: #666;
	border-top: 1px dashed #666;
	margin: 5px 0;
	width: 100%; 
	padding-top: 10px;
}
#artical .re div.content .read{
	font-size: 14px;
	color: #666;
	padding-top: 10px;
}
#artical dl{
	width: 450px;
	margin: 0 auto;
	position: relative;
}
#artical dl dt{
	text-align: center;
	padding: 5px 0;
	font-weight: bold;
}
#artical dl dd{
	padding: 5px 0;
}
#artical dl dd#q a{
	text-decoration: none;
	color: #333;
}
#artical dl dd label{
	cursor: pointer;
}
#artical dl dd div#ubb{
	width: 400px;
	height: 26px;
	background: url(../../images/bgMenubar.gif);
	border: 1px solid #333;
}
#artical dl dd div#ubb img{
	display: block;
	float: left;
	padding: 5px 1px;
}
#artical dl dd div#font{
	display: none;
	width: 165px;
	height: 40px;
	background: #eee;
	border: 1px solid #333;
	padding: 8px;
	line-height: 20px;
	position: absolute;
	left: 0px;
	top: 95px;
}
#artical dl dd div#font strong{
	font-weight: normal;
	background: #fff;
	border: 1px solid #ccc;
	cursor: pointer;
}
#artical dl dd div#color{
	display: none;
	width: 152px;
	height: 130px;
	font-size: 12px;
	background: #eee;
	border: 1px solid #333;
	padding: 4px 0 0 4px;
	position: absolute;
	top: 95px;
    left: 128px;
}
#artical dl dd div#color strong{
	border: 1px solid #999;
	display: block;
	width: 12px;
	height: 12px;
	float: left;
	margin: 4px 0 0 4px;
}
#artical dl dd div#color em{
	display: block;
	height: 28px;
	width: 80%;
	clear: both;
}
#artical dl dd div#color em input{
	margin-top: 10px;
	margin-left: 4px;
	width: 136px;
	height: 20px;
	cursor: pointer;
	background:#fff;
}
#artical dl dd textarea{
	width: 390px;
	border: 1px solid #333;
	background: #fff;
	border-top: none;
	padding: 5px;
}
#artical dl dd img#code{
	position: relative;
	top: 5px;
	cursor:pointer;
}
#artical dl dd input.text{
	width: 250px;
	height: 19px;
	border: 1px solid #333;
	background: #fff;
}
#artical dl dd input.code{
	width: 60px;
}
#artical dl dd input.submit{
	width: 75px;
	height: 21px;
	border: 1px solid #333;
	background: #fff;
	cursor: pointer;
	color: #333;
}
#artical dl dd input.submit:hover{
	background: #f60;
}